<div class="tbl">
    <% %w[A B C D E F G H I].each do |c| %>
      <div>
        <%= c %>
      </div>
    <% end %>


  <% %w[first_row middle_row last_row].each do |row| %>

      <% @card.grid.dig(row, 'cells').each do |cell| %>
        <% status_class = @card.status_helper(cell) %>
        <div class="cell <%= status_class %>"  >
          <%= cell['number'] %>
        </div>
      <% end %>

  <% end %>
</div>
