// Place all the styles related to the lotteries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.drawn-lots-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: 480px;
}
